*.DS_Store
.DS_Store
.*.swp
.svn/*
*.o
*.so
config/fish/fish_history
config/fish/fishd*
config/fish/fish_variables
vim/.netrwhist
vim/bundle/*
vim/plugged/*
weechat/logs/*
weechat/weechat.log
tags
Session.vim
.idea/*
styles/**
