*.DS_Store
.DS_Storeq
.*.swp
.svn/*
*.o
*.so
config/fish/fish_history
config/fish/fishd*
config/fish/fish_variables
vim/.netrwhist
tags
Session.vim
.idea/*
styles/**
config/nvim/plugin/packer_compiled.lua
**lazy-lock.json
